* {
    margin: 0%;
    padding: 0%;
}

.navbar {
    background-color: #bd1dbd;
}

.logo img {
    position: relative;
    left: 5%;
    border-radius: 50%;
    width: 4%;
    /* margin-left: 5%; */
}

.sidebar{
     height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 180px;
    position: absolute;
    background-color: #bd1dbd;
    transition: 0.5s ease;
    transform: translateX(-180px);
}

.sidebar ul{
    position: absolute;
    top: 12%;
    align-items: center;
}

.sidebar ul li{
    list-style: none;
    padding-bottom: 20%;
    font-size: large;
}

.sidebar ul li:hover{
    
}

.sidebar ul li a{
    color: white;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}

.sidebar ul li a:hover{
background-color: #e638e6;
}

input{
    display: none;
    visibility: hidden;
    -webkit-appearance: none;
}

.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 1;
    cursor: pointer;
    /* background-color: red; */
    top: 2.5%;
    left: 13px;
}

.toggle .common{
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: white;
    border-radius: 50px;
    transition: 0.3s ease;
}

.toggle .top{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .middle{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.toggle .bottom{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked ~ .toggle .top{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}

input:checked ~ .toggle .bottom{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(-45deg);
}

input:checked ~ .toggle .middle{
    opacity: 0;
    transform: translateX(20px);
}

input:checked ~ .sidebar{
    transform: translateX(0);
}

.homepage img {
    width: 100%;
}

.heading h2 {
    position: absolute;
    top: 3%;
    left: 10%;
    color: white;
}

.search input {
    position: absolute;
    right: 5%;
    top: 3%;
    width: 15%;
    height: 3%;
    padding-left: 1%;
}

.link {
    width: 20%;
    padding: 3%;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

.link a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}




